/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION */
nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    align-item: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

/* GRID LAYOUT */
.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, san serif;
    display: block;
}

main {
    flex-position: left;
    text-align: center;
    margin: 1em;
    border: 10px;
    padding: 1em;
    float: right;
}

/* PROFILE IMAGE (FLOAT RIGHT) */
.profile-img {
    float: right;
    width: 100px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px grey;
    margin: 0 0 1rem 1rem;
}

/* ASIDE (UGANDA SECTION) */
aside {
    width: 20em;
    text-align: center;
    position: relative;
}

h1 {
    color: steelblue;
}

p {
    margin: 1rem;
}

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 80px;
    left: 80px;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ccc;
}

/* class selector*/
.box {
    margin: 1em;
    border: 1px solid rgba (0, 0, 0, .1);
    padding: 1em;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2em;
}